<div id="<%= dom_id friend %>">
  <table class="table"><tr>
  <th><p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p></th>

 <th> <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p></th>

 <th> <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p></th>

  <th><p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p></th>

  <th><p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p></th>
</tr>
  </table>
  

</div>

